.data-group{ margin-bottom: 15px; background-color: #f4f5f7; border-radius: 5px; padding-left: 20px; padding-top:10px; padding-bottom: 10px;}
.studentborder{border-radius: 25px;background-color:#316898; color:white; padding-left: 20px;width:25%;background-position: 0;}
.button1{border-radius: 25px;background-color:#316898; color:white;}
.button2{border-radius: 25px;background-color:#cc1f1c; color:white;}
.button3{border-radius: 25px;background-color:#0d7710; color:white;}